<div class="col-lg-4">
  <div class="card text-center shadow" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card from Employee.Lib</h5>
      <p class="card-text">The code for this card is coming from the Employee RazorClassLibrary.</p>
      <a href="#" class="btn btn-primary">Hello World</a>
    </div>
  </div>
</div>


@code {

}
