<div class="card text-center shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card from Jobs.Lib</h5>
    <p class="card-text">The code for this card is coming from the Jobs Job RazorClassLibrary.</p>
    <a href="#" class="btn btn-primary">Hello World</a>
  </div>
</div>


@code {

}
